body {
	width:800;
	background-image:url(dscho.git?a=blob_plain;hb=85b89d1cd73acd65ca4381be901d50287dde8170;f=paper.jpg);
	background-repeat:repeat-y;
	background-attachment:scroll; padding:0px;
}
.content {
	width:610px;
	margin-left:120px;
	align:left;
	vertical-align:top;
}
